---
import { Image } from "astro:assets";

interface Props {
  title: string;
  description: string;
  statusText: string;
  statusColor: string;
  imageUrl: string;
  imageAlt: string;
  projectUrl: string;
  index: number;
}

const {
  title,
  description,
  statusText,
  statusColor,
  imageUrl,
  imageAlt,
  projectUrl,
  index,
} = Astro.props;
---

<a
  href={projectUrl}
  class={`project-card project-card-${statusColor}`}
  style={`--item-index: ${index}`}
  target="_blank"
>
  <div class="project-image">
    <Image src={imageUrl} alt={imageAlt} width={400} height={200} />
  </div>
  <div class="project-content">
    <h3 class="project-title">{title}</h3>
    <h4 class={`project-status project-status-${statusColor}`}>{statusText}</h4>
    <p class="project-description">{description}</p>
  </div>
</a>
